[data-theme='dark'] {
	--mainColor: #cb1bda;
	--bgcColor: #222222;
	--secondBgc: #292929;
	--mainText: #fff;
	--grayText: #c5c5c5;
	--mobileNav: #323232;
}
[data-theme='light'] {
	--mainColor: #cb1bda;
	--bgcColor: #fff;
	--secondBgc: #cbcbcb;
	--mainText: #000;
	--grayText: #c5c5c5;
	--mobileNav: #aaaaaa;
}
