.team {
	background-color: var(--secondBgc);
	padding: 4rem 2rem;
	&-box {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&-content {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		h3 {
			font-size: 1.9rem;
		}
		p {
			color: var(--grayText);
			font-size: 1.3rem;
		}
	}
}

@media (min-width: 992px) {
	.team {
		padding: 0 2rem;
		&-box {
			flex-direction: row;
		}
		&-content {
			width: 30%;
		}
		img {
			width: 70%;
		}
	}
}
